@model List<GUIDE.Models.AttendanceModel>
@{
    ViewData["Title"] = "Attendance List";
}

<h2>Attendance Report</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Emotion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.Name</td>
                <td>@record.Date</td>
                <td>@record.Time</td>
                <td>@record.Emotion</td>
            </tr>
        }
    </tbody>
</table>
