@{
    ViewData["Title"] = "GUIDE";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GUIDE</h1>
    <h3 class="">Gauging Understanding and Interest Through Data for Education</h3>

    <div class="justify-content-center d-flex">
        <a asp-controller="Home" asp-action="Capture" class="btn btn-primary mt-5">Take Photo</a>
    </div>

    <form asp-controller="Home" asp-action="TakeAttendance" method="post">
        <button class="btn btn-success mt-5" type="submit">Take Attendance</button>
    </form>
</div>