@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>This is a demo project for Fatih Emre AKARSU's TUBİTAK exhibition</p>
<p>Project advisor is Asst. Prof. Dr. Emre OLCA</p>
<br /><br />
<p><b>Fatih Emre AKARSU: </b>feakarsu@gmail.com</p>
<p><b>Emre OLCA: </b>emreolca@gmail.com</p>
